<div
  style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width: 600px">
  {{!-- Indicando onde o conteudo desse arquivo vai estar usando 3 chaves --}}
  {{{ body }}}


  {{!-- Importando o footer de /views/emails/partials/footer.hbs --}}
  {{> footer}}

</div>